# Flask
FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too

# Database (default: SQLite if DATABASE_URL not set)
DATABASE_URL=postgresql://postgres:nelson1504@localhost:5433/mezahub
DB_HOST=localhost
DB_PORT=5433
DB_NAME=mezahub
DB_USER=postgres
DB_PASSWORD=nelson1504

# Redis
REDIS_URL=redis://localhost:6379/0

# Email (optional)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# Firebase (optional)
FIREBASE_SERVER_KEY=

# M-Pesa (optional)
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=hbHPQJORgFJTo1v3NchAlnRMtleGPQ9iYJUm6Eel91pwrJ7S
MPESA_CONSUMER_SECRET=3lwGW3Ur9gKVW1p7dgOYnwjI6C9G9TLF0cXj0k2eST3htLmOy7Okrcb1TzgPY3nZ
MPESA_PASSKEY=
MPESA_SHORTCODE=174379
MPESA_INITIATOR_NAME=
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_CALLBACK_BASE_URL=
MPESA_STK_CALLBACK_URL=
MPESA_B2C_RESULT_URL=
MPESA_B2C_TIMEOUT_URL=
